<form action="/equations" method="post">
    <div>name: <input name="name" type="text" /></div>
    <div>area of study: <input name="area" type="text" /></div>
    <div>equation in <a href="http://asciimath.org">ASCIIMath</a>: <input name="equation" type="text"/></div>
    <div>discovered by: <input name="discoveredBy" type="text"/></div>
    <button>send</button>
</form>
<ul>
{{#each equations}}
    <li>{{area}} - {{name}} - {{equation}} discovered by: {{discoveredBy}}</li>
{{/each}}
</ul>