<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/mathJax/MathJax.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
