

<section class="col-md-8 col-sm-8 login" id="HomeContainer">
  <article ng-repeat="equation in equations">
    <p>{{equation.name}}</p>
    <div>{{equation.equation}}</div>
    <p>{{discoveredBy}}</p>
    <p>{{dateCreated}}</p>
    <p>{{whoCreated}}</p>
  </article>
</section>

<aside class="col-md-4 col-sm-12 ads">
  <a href="http://facebook.com/blindworm.me" target="_blank" class="zocial facebook">take me</a>
  <a href="http://twitter.com/blindwormme" target="_blank" class="zocial twitter">take me</a>
  <a href="https://plus.google.com/104485228807444642016" target="_blank" class="zocial googleplus">take me</a>
</aside>